body {
    font-size: 16px;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    #nivel-selector button {
        font-size: 14px;
        padding: 8px 16px;
    }
}


h1 {
    margin: 20px 0;
    text-shadow: 2px 2px 5px black;
}

#nivel-selector button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 12px;
    background-color: #fff;
    color: #111;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

#nivel-selector button:hover {
    transform: scale(1.1);
}


.game-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 10px;
    padding: 10px;
    max-width: 500px;
    margin: 0 auto;
}


.card {
    width: 100%;
    aspect-ratio: 1 / 1; /* 🔥 Esto hace que la carta siempre sea cuadrada */
    background-image: url('img/fondoCarta.jpeg');
    background-size: cover;
    border: 2px solid white;
    cursor: pointer;
    position: relative;
    perspective: 1000px;
    overflow: hidden;
}



.card img {
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
}

.card.flipped img {
    display: block;
}
