body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    background: url('img/fondo.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

h1 {
    margin: 20px 0;
    text-shadow: 2px 2px 5px black;
}

#nivel-selector button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 12px;
    background-color: #fff;
    color: #111;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

#nivel-selector button:hover {
    transform: scale(1.1);
}


.game-container {
    display: grid;
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
    justify-items: center;
    max-width: 420px;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

@media (min-width: 800px) {
    .game-container {
        grid-template-columns: repeat(4, 100px);
    }
}



.card {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-image: url('img/fondoCarta.jpeg');
    background-size: cover;
    border: 2px solid white;
    cursor: pointer;
    position: relative;
    perspective: 1000px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}


.card img {
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
}

.card.flipped img {
    display: block;
}
